body{
	background: #c3c3c3;
	font-family: arial;
	color: #333;    /*lighter version of black*/

}
canvas{
	width: 200px;
	border: 1px solid ; /*default color is black*/
}
#btnRed,#btnGray, #btnRainbow, #resetImage{
	color:#FFF;
	background-color: #5995DA;
	font-weight:bold;
	text-align:center;
	padding: 2px;
	border:2px solid #5D6063;
	border-radius: 5px;
	width: 100px;
	margin:5px auto;
}
